<!DOCTYPE html>
<html>

<head>
<meta charset=”utf-8”> 

<title><%= title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel = "stylesheet" type ="text/css" href = "../stylesheets/bootstrap/css/bootstrap.css" >

<script src="../javascripts/jquery-1.11.0.min.js"></script>

</head>

<body>

<% include ../fragments/header %>

	<script>
		$( "#profile" ).addClass("active");
	</script>

<div class="container">

	<div style="margin-top:20px" class="row">

	
		<div class="col-md-3 col-sm-3 col-xs-3">
	
		<% include profilesidepanel %>

		<script>
		$( "#followers" ).css("font-weight","Bold");
		</script>

		</div>

		<div class="col-md-6 col-sm-6 col-xs-6">

		<center><h3><strong><%=user[0].username%></strong>'s Followers</h3></center>
		<hr>
		<% var size = user[0].followers.length; %>

		<% if (size===0){ %>

		<h4>You have no followers at this time</h4>

		<% } else { %>

		<% for (var i = 0; i<size/4; i++){ %>

		<row>

		<% if (((i+1)*4)<size){ %>

		<% for (var j = 0; j<4; j++){  %>
			<div class="col-md-2 col-sm-2 col-xs-2 col-md-offset-1 col-sm-offset-1 col-xs-offset-1" style="margin-top:30px">
					<media>
						<img src="../images/generic_person.jpg" width="80px" height="80px"></img>
					</media>
						<center>User <%= i*4+j %></center>
			</div>
		<% } %>

		<% } else { %>

			<% for (var k = 0; k<size%4; k++){  %>
			<div class="col-md-2 col-sm-2 col-xs-2 col-md-offset-1 col-sm-offset-1 col-xs-offset-1" style="margin-top:30px">
					<media>
						<img src="../images/generic_person.jpg" width="80px" height="80px"></img>
					</media>
						<center>User <%= i*4+k %></center>
			</div>
		<% } %>

		<% } %>
	
		</row>


		<% } %>

		<% } %>

		</div>

	</div>

</div>

	<% include ../fragments/footer %>


<script src = "../javascripts/bootstrap.js"></script>


</body>


</html>

