<!doctype html>
<html lang="en">
<head>		
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title><%= title %></title>
  <link rel="stylesheet" href="../stylesheets/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../stylesheets/header.css">
</head>

<body>
<profilesidepanel>

		<center>
		<media>
		<img src="../images/generic_person.jpg" width="150px" height="150px"></img>
		</media>

		<div style="margin-top:10px; margin-bottom:0px">
		  <a id="followers" href="/profile/followers" style="font-Size:16px">Followers 8</a>
		</div>
		<hr style="margin-top: 10px; margin-bottom:10px" width="150px">
		<div style="margin-top:0px">
		  <a id="following" href="/profile/following" style="font-Size:16px">Following 11</a>
		</div>
		<hr style="margin-top: 10px; margin-bottom:10px" width="150px" border>
		<div style="margin-top:20px">
		  <a id="btn-about" href="/profile/about" class="btn btn-default">About</a>
		</div>

		<div style="margin-top:20px">
		  <a id="btn-my_posts" href="/profile/myposts" class="btn btn-default">Posts</a>
		</div>

		<div style="margin-top:20px">
		  <a id="btn-my_creations" href="/profile/mycreations" class="btn btn-default">Creations</a>
		</div>

		<div style="margin-top:20px">
		  <a id="btn-edit_profile" href="/profile/editprofile" class="btn btn-default">Edit Profile</a>
		</div>
		
		</center>

</profilesidepanel>
