<!doctype html>
<html lang="en">
<head>		
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title><%= title %></title>
  <link rel="stylesheet" href="../stylesheets/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../stylesheets/header.css">
</head>

<body>
<profilesidepanel>

		<center>
		<media>
		<img src="../images/generic_person.jpg" width="150" height="150"></img>
		</media>

		<div style="margin-top:20px">
		  <a id="btn-profile_edit" href="/profile/editprofile" class="btn btn-default">Edit Profile</a>
		</div>

		<div style="margin-top:20px">
		  <a id="btn-edit_profile" href="/profile/about" class="btn btn-default">About</a>
		</div>

		<div style="margin-top:20px">
		  <a id="btn-my_posts" href="/profile/myposts" class="btn btn-default">Posts</a>
		</div>

		<div style="margin-top:20px">
		  <a id="btn-my_creations" href="/profile/mycreations" class="btn btn-default">Creations</a>
		</div>

		<div style="margin-top:20px">
		  <a id="btn-my_followers" href="/profile/followers" class="btn btn-default">Followers</a>
		</div>
		</center>

</profilesidepanel>
