<!DOCTYPE html>
<html>

<head>
<meta charset=”utf-8”> 

<title><%= title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel = "stylesheet" type ="text/css" href = "../stylesheets/bootstrap/css/bootstrap.css" >

<script src="../javascripts/jquery-1.11.0.min.js"></script>


<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<!--<script src="//code.jquery.com/jquery-1.9.1.js"></script> -->
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script> 
<!--<script src="../javascripts/workoutcreator.js"></script>-->
<link rel="stylesheet" href="/resources/demos/style.css">

<style>
/* IE has layout issues when sorting (see #5413) */
.group { zoom: 1 }
ul
{
list-style-type: none;
}
.draggableExercise, .draggableRest, .draggableSetBuilder
{
cursor:pointer;
}
</style>


<script>

	$(function() {

		$( "#accordion1" )
			.accordion({
			header: "> div > h3",
			collapsible: false,
			heightStyle: "content"
			})

		$( "#accordion2" )
			.accordion({
			header: "> div > h3",
			collapsible: true,
			heightStyle: "content"
			})
	
			.sortable({
			axis: "x, y",
			handle: "h3",
			dropOnEmpty: true,
			stop: function( event, ui ) {

			console.log("accordion stop");

			//this is when an exercise is added to accordion
			if(ui.item.hasClass("draggableExercise")){
				ui.item.children( "h3" ).triggerHandler( "focusout" );
				ui.item.replaceWith('<div class="group element"><h3><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>' + ui.item.text() + 
'</h3><ul class="testSet"><li><input type="text" class="set" name="name" value="" maxlength="15" style= "width:80px; float:left; margin-bottom:20px; margin-right:20px"> <select style="width:65px"><option value="reps">reps</option><optgroup label="Time"><option value="sec">sec</option><option value="min">min</option></optgroup><optgroup label="Distance"><option value="meters">m</option><option value="kilometers">km</option><option value="yards">yds</option><option value="miles">miles</option></optgroup></select></li></ul></div>');

				$(".element > h3").addClass('ui-accordion-header ui-helper-reset ui-state-default ui-corner-all ui-accordion-icons');
				$(".element > ul").addClass('ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom');
				$(".element").accordion({collapsible: true});
				//$(".group > ul").sortable();
				$(".element").accordion({heightStyle: "content"});
				//$(".group > ul").draggable({});
			//	$(".ui-accordion-content").draggable("option", "connectToSortable", "#trash");
			//	$(".ui-accordion-content").draggable("option", "revert", "false");
			}
			//This is when a rest time is added to accordion
			if(ui.item.hasClass("draggableRest")){
				ui.item.replaceWith('<div class="group restElement"><h3>' + "Rest " + ui.item.text() + '</h3></div>');
				$(".restElement > h3").addClass('ui-accordion-header ui-helper-reset ui-state-default ui-corner-all ui-accordion-icons');
				$("this").accordion({collapsible: true, disabled: true});
				//$(".restElement").accordion("disable");
			}	
		
			}
		});

$("#trash").droppable({
//accept: '.group > ul',
//hoverClass: 'dropAreaHover',
drop: function(event, ui){
$(ui.draggable).remove();

}

});


$( ".draggableExercise" ).draggable({
connectToSortable: "#accordion2",
helper: "clone",
revert: false
});
$( ".draggableRest" ).draggable({
connectToSortable: "#accordion2",
helper: "clone",
revert: false,
cursorAt: {top: 10}
});

});


function addRestAmount(){
console.log("Rest Amount Added");

$("#restAmountList").append('<li class="draggableRest">' + $("#newRestAmount").val() + " " + $("#time").val() + '</li>');

$( ".draggableRest" ).draggable({
connectToSortable: "#accordion2",
helper: "clone",
revert: false
});
}

   
</script>
<script src="/javascripts/htmlForWorkout.js"></script>
<script src="/javascripts/workoutcreator.js"></script>

</head>

<body>

		<% include ../fragments/header %>
		
<div id="workoutObj" style="display:none"><% if(workout) { %><%= JSON.stringify(workout) %><% } %></div>
	<div class="container">

<center><h3>Create a new workout</h3></center>

		<div class="row">

	<div class="col-md-3 col-sm-3 col-xs-3">


	<div id="accordion1" style="margin-top:60px">
				<div class="group active">
					<h3>Search for Exercise</h3>
					<div>

 <input id="field" type="text" class="form-control" placeholder="Search" style="width:150px; margin-bottom:10px">

					<ul id="exercise_results">


					</ul>
					</div>
				</div>

				<div class="group">
					<h3>Rest Period</h3>
					<div>
						
							<input id="newRestAmount" type="text" class="form-control" name="name" value="" maxlength="15" style= "width:60px; float:left; margin-bottom:20px; margin-right:10px;margin-left:0px">
<select id="time" style="float:left; width:55px; margin-right:10px"><option value="seconds">sec</option><option value="minutes">min</option></select>
							<button id="btn-addRestAmount" onClick="addRestAmount()" class="btn btn-danger" style="width:50px;  float:left; margin-bottom:20px">Add</button> 
						<ul id="restAmountList">
							<li class="draggableRest"> 30 seconds</li>
							<li class="draggableRest"> 1 minutes</li>
							<li class="draggableRest"> 2 minutes</li>
							<li class="draggableRest"> 3 minutes</li>
							<li class="draggableRest"> 5 minutes</li>
						</ul>
					</div>
				</div>
			</div>

	</div>


	<div class="col-md-6 col-sm-6 col-xs-6 well" style="margin-top:15px;width:500px;margin-left:30px;margin-right:30px; padding-left:25px; padding-right:25px">	


	<p>Drag exercises over here to build workout</p>

		<div id="accordion2" style="height:400px;width:450px;border:1px solid #ccc;overflow:auto; background-color:#FFFFFF">

		</div>

		<div style="margin-bottom: 15px;margin-top: 5px" class="input-group">

			<h5>Name:</h5>
			<input id="workout_name" type="text" class="form-control" name="query" value="">

		</div>

			<div style="margin-bottom: 15px" class="input-group">
   					<h5>Difficulty:</h5>
					<select id="difficulty" class="form-control" name="difficulty">
						<option>Beginner</option>
						<option>Intermediate</option>
						<option>Advanced</option>
					</select>
				
                </div>
                    
                <div style="margin-bottom: 15px" class="input-group">
					<h5>Description:</h5>
					<textarea class="form-control" id="description" style="resize:vertical" rows="4"
                              cols="50" name="description" maxlength="1023"></textarea>
   
                </div>

                <div>
                <div class="panel panel-default" style="margin-top:40px">
                    <div class="panel panel-heading">
                        <h3 class="panel-title">Photos and videos:</h3>
                    </div>
                    <div id="enteredMedia" class="panel-body">
						
                    </div>
                </div>
                <button class="btn btn-default" style="margin-bottom: 15px" id="addMediaButton">Add photo or video</button>
            </div>
		
             <div class="form-group pull-left">
               <div class="col-sm-12 controls">
                  <a id="btn-cancel" href="/create"
                     class="btn btn-danger">Cancel</a>
                </div>
          </div>

                  <div class="form-group pull-right">
               <div class="col-sm-12 controls">

<!--
                     <button class="btn btn-success" id="saveWorkoutButton">Save workout</button>
-->
                </div>
                
          </div>
	</div>
		<div id="trash" class="col-md-3 col-sm-3 col-xs-3">
			<p>Drag exercises or rests over here to delete them</p>
			<div class="well"  style="height:200px">
				<center><span class="glyphicon glyphicon-trash"></span> Trash Area</center>
			</div>

		</div>

		<div class="test">

		<p>1</p>		
	
		</div>

		<div class="test">

		<p>2</p>

		</div>

	</div>

</div>


<script>

$(function(){

	$('#saveWorkoutButton').click(function(e){

	console.log("save button clicked");

	//console.log($("#accordion2 .group:nth-child(2) h3").text());

		$("#accordion2 .test").each((function(){

		$(this > h3).append("HELLO");

		}));

	//$('#trash > p').append("HELLO");


	});

});

</script>

<script>

    $(function(){				
        $('#field').keyup(function(e){
            e.preventDefault();
            console.log('search clicked');

			var data = {};

			data.query = 'exercisesSearchByNameDescriptionMusclegroup';
			data.search = $("#field").val();


			$.ajax({
				type: 'POST',
				data: JSON.stringify(data),
		        contentType: 'application/json',
				 url: 'http://localhost:8080/query',						
                success: function(data) {
		
					var exercises = data;

                    console.log('success');
                    console.log(JSON.stringify(data));
					
						$('#exercise_results').empty();

						for(var i=0; i<Math.min(10,exercises.length); i++){

							$('#exercise_results').append('<li class="draggableExercise">' + exercises[i].names[0].name + '</li>');
						}

					$( ".draggableExercise" ).draggable({
						connectToSortable: "#accordion2",
						helper: "clone",
						revert: false
					});
                }
            });

        });				
    });
</script>

<% include ../fragments/footer %>

<script src = "../javascripts/bootstrap.js"></script>


</body>


</html>
