<!DOCTYPE html>
<html>

<head>
<meta charset=”utf-8”> 

<title><%= title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel = "stylesheet" type ="text/css" href = "stylesheets/bootstrap/css/bootstrap.css" >

<script src="../javascripts/jquery-1.11.0.min.js"></script>

</head>

<body>

<% include fragments/header %>

	<script>
	$( "#create" ).addClass("active");
	</script>

<div class="container">


			<div class="row">
			<h2>Create...</h2>
			</div>

			<div style="margin-top:30px" class="row form-group">

			
				<div class="col-md-4 col-sm-4 col-xs-4 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
				  <a style="width:100%;height:90px" href="/create/exercise" class="btn btn-primary"><h3>Exercise</h3></a>
				
					<div style="margin-top:15px" class="row">
					<p>Create an encyclopedia entry for an exercise here! Examples of exercises
						include bicycle crunches, breaststroke, bench press, or anything else
						you can think of!</p> 
					</div>
				</div>

				<div class="col-md-4 col-sm-4 col-xs-4">
					  <a style="width:100%;height:90px" href="/create/workoutcreator" class="btn btn-success"><h3>Workout</h3></a>
					<div style="margin-top:15px" class="row">
					<p>Create a workout here. We encourage you to share them with your friends!</p> 
					</div>
				</div>

				</div>

			</div>		

</div>

<% include fragments/footer %>

<script src = "javascripts/bootstrap.js"></script>


</body>

