<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css" />
	<script src="/js/jquery-1.11.0.min.js"></script>
	<script src="/js/encyclopedia.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
	<div id="entries"></div>
  </body>
</html>
