<!DOCTYPE html>
<html>

<head>
<meta charset=”utf-8”> 

<title><%= title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel = "stylesheet" type ="text/css" href = "stylesheets/bootstrap/css/bootstrap.css" >

<script src="../javascripts/jquery-1.11.0.min.js"></script>

</head>

<body>

<% include header %>

	<script>
	$( "#encyclopedia" ).addClass("active");
	</script>
<!--
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
	<div id="entries"></div>
-->
<div class="container">

<div class="row">
	
		<div class="col-md-8 col-md-offset-2">
			<h4><b>Search for</b></h4>
			<h5>Type of Item:</h5>
				<span class="input-group">
        			<input type="radio" name="item_type" value="exercise"> Exercise
					<input type="radio" name="item_type" value="workout"> Workout
					<input type="radio" name="item_type" value="program"> Program
      			</span>
			<h5>Difficulty:</h5>
				<span class="input-group">
        			<input type="radio" name="difficulty" value="beginner"> Beginner
					<input type="radio" name="difficulty" value="intermediate"> Intermediate
					<input type="radio" name="difficulty" value="advanced"> Advanced
      			</span>
		<center>
			<span>
					<div style="margin-top: 30px; margin-bottom:10px" class="input-group">
								<input id="search" type="text" class="form-control" name="query" value="">                                       
                                 
                            </div>
			</span>	
					<a id="btn-search" href="encyclopediaresults" class="btn btn-danger">Search</a>
   
		</center>
		</div>
	</div>

	<div style="margin-top:30px" class="row">

	<div class="col-md-8 col-md-offset-2">

	
	<h3>Popular Exercises</h3>
	<hr>
	</div>
		
	</div>

		<div class="row">

		<div class="col-md-10 col-md-offset-1">

		<div class="col-md-2 col-md-offset-1">
		<center>
			<media>
				<img src="images/generic_exercise.jpeg" width="80" height="80"></img>
			</media>
			<h4>Exercise 1</h4>
		</center>

		</div>

		<div class="col-md-2">
		<center>
			<media>
				<img src="images/generic_exercise.jpeg" width="80" height="80"></img>
			</media>
			<h4>Exercise 2</h4>
		</center>

		</div>	
		
		<div class="col-md-2">
		<center>
			<media>
				<img src="images/generic_exercise.jpeg" width="80" height="80"></img>
			</media>
			<h4>Exercise 3</h4>
		</center>

		</div>

		<div class="col-md-2">
		<center>
			<media>
				<img src="images/generic_exercise.jpeg" width="80" height="80"></img>
			</media>
			<h4>Exercise 4</h4>
		</center>

		</div>

		<div class="col-md-2">
		<center>
			<media>
				<img src="images/generic_exercise.jpeg" width="80" height="80"></img>
			</media>
			<h4>Exercise 5</h4>
		</center>

		</div>

		</div>

	</div>

		
	<div style="margin-top:20px" class="row">

	<div class="col-md-10 col-md-offset-1">

	<div class="col-md-2 col-md-offset-1">
		<center>
			<media>
				<img src="images/generic_exercise.jpeg" width="80" height="80"></img>
			</media>
			<h4>Exercise 6</h4>
		</center>

		</div>

		<div class="col-md-2">
		<center>
			<media>
				<img src="images/generic_exercise.jpeg" width="80" height="80"></img>
			</media>
			<h4>Exercise 7</h4>
		</center>

		</div>	
		
		<div class="col-md-2">
		<center>
			<media>
				<img src="images/generic_exercise.jpeg" width="80" height="80"></img>
			</media>
			<h4>Exercise 8</h4>
		</center>

		</div>

		<div class="col-md-2">
		<center>
			<media>
				<img src="images/generic_exercise.jpeg" width="80" height="80"></img>
			</media>
			<h4>Exercise 9</h4>
		</center>

		</div>

		<div class="col-md-2">
		<center>
			<media>
				<img src="images/generic_exercise.jpeg" width="80" height="80"></img>
			</media>
			<h4>Exercise 10</h4>
		</center>

		</div>

		</div>
		</div>
		<div style="margin-top:30px" class = "row">
			<div class="col-md-8 col-md-offset-2">
				<h3>New Exercises</h3>
				<hr>
			</div>
		</div>

		<div class="row">
	
		<div class="col-md-10 col-md-offset-1">

		<div class="col-md-2 col-md-offset-1">
		<center>
			<media>
				<img src="images/generic_exercise.jpeg" width="80" height="80"></img>
			</media>
			<h4>Exercise 1</h4>
		</center>

		</div>

		<div class="col-md-2">
		<center>
			<media>
				<img src="images/generic_exercise.jpeg" width="80" height="80"></img>
			</media>
			<h4>Exercise 2</h4>
		</center>

		</div>	
		
		<div class="col-md-2">
		<center>
			<media>
				<img src="images/generic_exercise.jpeg" width="80" height="80"></img>
			</media>
			<h4>Exercise 3</h4>
		</center>

		</div>

		<div class="col-md-2">
		<center>
			<media>
				<img src="images/generic_exercise.jpeg" width="80" height="80"></img>
			</media>
			<h4>Exercise 4</h4>
		</center>

		</div>

		<div class="col-md-2">
		<center>
			<media>
				<img src="images/generic_exercise.jpeg" width="80" height="80"></img>
			</media>
			<h4>Exercise 5</h4>
		</center>

		</div>

		</div>
		
		</div>

		
	<div style="margin-top:20px" class="row">

	<div class="col-md-10 col-md-offset-1">

	<div class="col-md-2 col-md-offset-1">
		<center>
			<media>
				<img src="images/generic_exercise.jpeg" width="80" height="80"></img>
			</media>
			<h4>Exercise 6</h4>
		</center>

		</div>

		<div class="col-md-2">
		<center>
			<media>
				<img src="images/generic_exercise.jpeg" width="80" height="80"></img>
			</media>
			<h4>Exercise 7</h4>
		</center>

		</div>	
		
		<div class="col-md-2">
		<center>
			<media>
				<img src="images/generic_exercise.jpeg" width="80" height="80"></img>
			</media>
			<h4>Exercise 8</h4>
		</center>

		</div>

		<div class="col-md-2">
		<center>
			<media>
				<img src="images/generic_exercise.jpeg" width="80" height="80"></img>
			</media>
			<h4>Exercise 9</h4>
		</center>

		</div>

		<div class="col-md-2">
		<center>
			<media>
				<img src="images/generic_exercise.jpeg" width="80" height="80"></img>
			</media>
			<h4>Exercise 10</h4>
		</center>

		</div>
		</div>

	<div style="margin-top:30px" class="row">

	<div class="col-md-8 col-md-offset-2">

	
	<h3>Popular Workouts</h3>
	<hr>
	</div>
		
	</div>

		<div class="row">

		<div class="col-md-10 col-md-offset-1">		

		<div class="col-md-2 col-md-offset-1">
		<center>
			<media>
				<img src="images/generic_exercise.jpeg" width="80" height="80"></img>
			</media>
			<h4>Workout 1</h4>
		</center>

		</div>

		<div class="col-md-2">
		<center>
			<media>
				<img src="images/generic_exercise.jpeg" width="80" height="80"></img>
			</media>
			<h4>Workout 2</h4>
		</center>

		</div>	
		
		<div class="col-md-2">
		<center>
			<media>
				<img src="images/generic_exercise.jpeg" width="80" height="80"></img>
			</media>
			<h4>Workout 3</h4>
		</center>

		</div>

		<div class="col-md-2">
		<center>
			<media>
				<img src="images/generic_exercise.jpeg" width="80" height="80"></img>
			</media>
			<h4>Workout 4</h4>
		</center>

		</div>

		<div class="col-md-2">
		<center>
			<media>
				<img src="images/generic_exercise.jpeg" width="80" height="80"></img>
			</media>
			<h4>Workout 5</h4>
		</center>

		</div>

		</div>
	
		</div>		

	<div style="margin-top:20px" class="row">

		<div class="col-md-10 col-md-offset-1">		

	<div class="col-md-2 col-md-offset-1">
		<center>
			<media>
				<img src="images/generic_exercise.jpeg" width="80" height="80"></img>
			</media>
			<h4>Workout 6</h4>
		</center>

		</div>

		<div class="col-md-2">
		<center>
			<media>
				<img src="images/generic_exercise.jpeg" width="80" height="80"></img>
			</media>
			<h4>Workout 7</h4>
		</center>

		</div>	
		
		<div class="col-md-2">
		<center>
			<media>
				<img src="images/generic_exercise.jpeg" width="80" height="80"></img>
			</media>
			<h4>Workout 8</h4>
		</center>

		</div>

		<div class="col-md-2">
		<center>
			<media>
				<img src="images/generic_exercise.jpeg" width="80" height="80"></img>
			</media>
			<h4>Workout 9</h4>
		</center>

		</div>

		<div class="col-md-2">
		<center>
			<media>
				<img src="images/generic_exercise.jpeg" width="80" height="80"></img>
			</media>
			<h4>Workout 10</h4>
		</center>

		</div>

	</div>
		<div style="margin-top:30px" class = "row">
			<div class="col-md-8 col-md-offset-2">
				<h3>New Workouts</h3>
				<hr>
			</div>
		</div>

		<div class="row">

		<div class="col-md-10 col-md-offset-1">

		<div class="col-md-2 col-md-offset-1">
		<center>
			<media>
				<img src="images/generic_exercise.jpeg" width="80" height="80"></img>
			</media>
			<h4>Workout 1</h4>
		</center>

		</div>

		<div class="col-md-2">
		<center>
			<media>
				<img src="images/generic_exercise.jpeg" width="80" height="80"></img>
			</media>
			<h4>Workout 2</h4>
		</center>

		</div>	
		
		<div class="col-md-2">
		<center>
			<media>
				<img src="images/generic_exercise.jpeg" width="80" height="80"></img>
			</media>
			<h4>Workout 3</h4>
		</center>

		</div>

		<div class="col-md-2">
		<center>
			<media>
				<img src="images/generic_exercise.jpeg" width="80" height="80"></img>
			</media>
			<h4>Workout 4</h4>
		</center>

		</div>

		<div class="col-md-2">
		<center>
			<media>
				<img src="images/generic_exercise.jpeg" width="80" height="80"></img>
			</media>
			<h4>Workout 5</h4>
		</center>

		</div>

		</div>

		</div>
		
	<div style="margin-top:20px" class="row">

	<div class="col-md-10 col-md-offset-1">		

	<div class="col-md-2 col-md-offset-1">
		<center>
			<media>
				<img src="images/generic_exercise.jpeg" width="80" height="80"></img>
			</media>
			<h4>Workout 6</h4>
		</center>

		</div>

		<div class="col-md-2">
		<center>
			<media>
				<img src="images/generic_exercise.jpeg" width="80" height="80"></img>
			</media>
			<h4>Workout 7</h4>
		</center>

		</div>	
		
		<div class="col-md-2">
		<center>
			<media>
				<img src="images/generic_exercise.jpeg" width="80" height="80"></img>
			</media>
			<h4>Workout 8</h4>
		</center>

		</div>

		<div class="col-md-2">
		<center>
			<media>
				<img src="images/generic_exercise.jpeg" width="80" height="80"></img>
			</media>
			<h4>Workout 9</h4>
		</center>

		</div>

		<div class="col-md-2">
		<center>
			<media>
				<img src="images/generic_exercise.jpeg" width="80" height="80"></img>
			</media>
			<h4>Workout 10</h4>
		</center>

		</div>

		</div>
		
</div>


<script src = "javascripts/bootstrap.js"></script>
<script src="javascripts/encyclopedia.js"></script>


</body>


</html>

