<!DOCTYPE html>
<html>

<head>
<meta charset=”utf-8”> 

<title><%= user.username %>'s Homepage</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel = "stylesheet" type ="text/css" href = "stylesheets/bootstrap/css/bootstrap.css">

<script src="javascripts/jquery-1.11.0.min.js"></script>


</head>

<body>

    <% include fragments/header %> 

   	<script>
	$( "#locker" ).addClass("active");
	</script>


<div class="container">

	<div class="row">

		<!--Calendar Area-->
		<div class="col-md-3 col-sm-3 col-xs-3">

		</div>


		<!--Post Area-->
		<div class="col-md-6 col-sm-6 col-xs-6">
			<div class="row">
			<center>
			<textarea style="resize:none" rows="4" cols="50" value="" placeholder="Write something here..." resize="none"></textarea>
			
		  	<a id="btn-post" class="btn btn-primary">Post</a>
			</center>
			</div>			

			<hr>

<% for (var i=0; i<3; i++){ %>
	
			<div class="row">

				<div class="col-md-1">
					<center>
					username<%=i+1%>
					<img src="images/generic_person.jpg" width="60" height="60"></img>
					</center>
				</div>

				<div class="col-md-6">
				</div>

				<div class="col-md-5">
					<center>
					April 4, 2014 8:14pm est
					</center>
				</div>
		
			</div>	
	
			<div style="margin-top:30px;margin-bottom:30px" class="row">

				ipsum dolor sit amet, consectetur adipiscing elit. Nunc leo quam, sollicitudin venenatis euismod eget, molestie sit amet arcu. Etiam pellentesque sapien eget lorem vulputate bibendum. Integer rhoncus auctor volutpat. Nulla facilisi. Nulla sed cursus risus. 

			</div>
	
			<hr>

<% } %>
			
<!-- Video Testing
		<iframe width="560" height="315"
src="//www.youtube.com/embed/tGHuc10SN5k" frameborder="0" allowfullscreen></iframe>
-->
		</div>


		<!--Graph area-->
		<div class="col-md-3 col-sm-3 col-xs-3">

		</div>
	
	</div>

<!--container-->
</div>

<% include fragments/footer %>


<script src = "javascripts/bootstrap.js"></script>


</body>


</html>
