<!DOCTYPE html>
<html>

<head>
<meta charset=”utf-8”> 

<title><%= title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel = "stylesheet" type ="text/css" href = "bootstrap/css/bootstrap.css">


</head>

   

<body>

    <% include header %> 

<div class="container">

	<div class="row">

		<!--Calendar Area-->
		<div class="col-md-3">
		<center>
		Calendar Area
		</center>
		</div>


		<!--Post Area-->
		<div class="col-md-6">
			<div class="row">
			<center>
			<textarea style="resize:none" rows="4" cols="50" value="" placeholder="Write something here..." resize="none"></textarea>
			
		  	<a id="btn-post" class="btn btn-primary">Post</a>
			</center>
			</div>			

			<hr>
	
			<div class="row">

				<div class="col-md-1">
					<center>
					username1
					<img src="images/generic_person.jpg" width="60" height="60"></img>
					</center>
				</div>
		
			</div>	
	
			<div style="margin-top:30px;margin-bottom:30px" class="row">

				ipsum dolor sit amet, consectetur adipiscing elit. Nunc leo quam, sollicitudin venenatis euismod eget, molestie sit amet arcu. Etiam pellentesque sapien eget lorem vulputate bibendum. Integer rhoncus auctor volutpat. Nulla facilisi. Nulla sed cursus risus. 

			</div>
	
			<hr>

			<div style="margin-top:30px;margin-bottom:30px" class="row">

				<div class="col-md-1">
					<center>
					username2
					<img src="images/generic_person.jpg" width="60" height="60"></img>
					</center>
				</div>

				
			</div>	

			<div class= "row">

				ipsum dolor sit amet, consectetur adipiscing elit. Nunc leo quam, sollicitudin venenatis euismod eget, molestie sit amet arcu. Etiam pellentesque sapien eget lorem vulputate bibendum. Integer rhoncus auctor volutpat. Nulla facilisi. Nulla sed cursus risus. 
	
			</div>
			
<hr>

			<div style="margin-top:30px;margin-bottom:30px" class="row">

				<div class="col-md-1">
					<center>
					username3
					<img src="images/generic_person.jpg" width="60" height="60"></img>
					</center>
				</div>

				
			</div>	

			<div class= "row">

				ipsum dolor sit amet, consectetur adipiscing elit. Nunc leo quam, sollicitudin venenatis euismod eget, molestie sit amet arcu. Etiam pellentesque sapien eget lorem vulputate bibendum. Integer rhoncus auctor volutpat. Nulla facilisi. Nulla sed cursus risus. 
	
			</div>
			
		</div>

		

		<!--Graph area-->
		<div class="col-md-3">
			<center>
				Graphs Area
			</center>
		</div>

<!--container-->
</div>



<script src="javascripts/jquery-1.11.0.min.js"></script>
<script src = "javascripts/bootstrap.js"></script>


</body>


</html>
