<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	<link rel="stylesheet" href="/stylesheets/qunit-1.14.0.css">
	<script src="/javascripts/jquery-1.11.0.min.js"></script>
  </head>
  <body>
	<div id="qunit">
	</div>
	<div id="qunit-fixture">
	</div>
	<script src="/javascripts/qunit-1.14.0.js"></script>
	<script src="/javascripts/tests.js"></script>
  </body>
</html>
