<!DOCTYPE html>
<html>

<head>
<meta charset=”utf-8”> 

<title><%= title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel = "stylesheet" type ="text/css" href = "stylesheets/bootstrap/css/bootstrap.css" >

<link rel = "stylesheet" type = "text/css" href = "stylesheets/user_search_results.css">


<script src="../javascripts/jquery-1.11.0.min.js"></script>

</head>

<body>

<% include fragments/header %>

<div class="container">

	<div class="row">

		<div class="col-md-4">

			<% include fragments/usersearchpanel %>

		</div>	
		
		<div class="col-md-8">	
		
			<div class="well">


			<ul id="resultsList" class="list-group">


			<% for (var i = 0; i<5; i++){ %>

				<li class="list-group-item">
					<div class="col-md-2">
							<media>
								<img src="images/generic_person.jpg" width="65" height="65"></img>
							</media>
					</div>
					<div class="col-md-10">
						<h4>User <%= i+1 %> - description of user will look something like this...description of user will look something like this...description of user will look something like this...</h4>	
					</div>
	
				</li>

				<% } %>
	
				
				<li class="list-group-item" style="height:60px">
				
					<center>
						<div class="btn-group">
  							 <button type="button" class="btn btn-default">1</button>
 							 <button type="button" class="btn btn-default">2</button>
 				 			 <button type="button" class="btn btn-default">3</button>
 							 <button type="button" class="btn btn-default">4</button>
 							 <button type="button" class="btn btn-default">5</button>
						</div>							
					</center>
				</li>
			</ul>
			</div>

		</div>

	</div>

</div>

<% include fragments/footer %>

<script src = "javascripts/bootstrap.js"></script>


</body>


</html>

