<!DOCTYPE html>
<html>

<head>
<meta charset=”utf-8”> 

<title><%= title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel = "stylesheet" type ="text/css" href = "stylesheets/bootstrap/css/bootstrap.css" >

<script src="javascripts/jquery-1.11.0.min.js"></script>

<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<!--<script src="//code.jquery.com/jquery-1.9.1.js"></script> -->
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css">
<style>
/* IE has layout issues when sorting (see #5413) */
.group { zoom: 1 }
</style>
<script>
	$(function() {

		$( "#accordion1" )
			.accordion({
			header: "> div > h3",
			collapsible: false,
			heightStyle: "content"
			})

		$( "#accordion2" )
			.accordion({
			header: "> div > h3",
			collapsible: true,
			heightStyle: "content"
			})
	
			.sortable({
			axis: "y",
			handle: "h3",
			stop: function( event, ui ) {
			// IE doesn't register the blur when sorting
			// so trigger focusout handlers to remove .ui-state-focus
			ui.item.children( "h3" ).triggerHandler( "focusout" );
			}
		});

	});
</script>

<!--
 <style>
ul { list-style-type: none; margin: 0; padding: 0; margin-bottom: 10px; }
li { margin: 5px; padding: 5px; width: 150px; }
</style>
-->
<script>
$(function() {
$( "#sortable" ).sortable({
revert: true
});
$( ".draggable" ).draggable({
connectToSortable: "#accordion2",
helper: "clone",
revert: "invalid"
});

 $( "#accordion2" ).droppable({
//activeClass: "ui-state-default",
//hoverClass: "ui-state-hover",
//accept: ":not(.ui-sortable-helper)",
drop: function( event, ui ) {
//$(".draggable").addClass("group");
//$(this).append( "<li>" + ui.draggable.text() + "</li>");
//$(this).append( "<div class='group'> <ul> <li> a</li> <li> b</li> <li> c</li> </ul> </div>");
//ui.draggable.addClass("accordion2");
//$( "<li></li>" ).text( ui.draggable.text() ).appendTo( this );
ui.draggable.appendTo(this);
}
});

$( "ul, li" ).disableSelection();
});
</script>

</head>

<body>

		<% include header %>
		

	<div class="container">

<center><h3>Create a new workout</h3></center>

		<div class="row">

	<div class="col-md-3">

	<div id="accordion1">
		<div class="group">
			<h3>Group/Circuit</h3>
			<div>
				<ul>
					<li>Fill In</li>
					<li>Fill In</li>
					<li>Fill In</li>
				</ul>
			</div>
		</div>
		<div class="group">
			<h3>Set Builders</h3>
			<div>
				<ul>
					<li>Fill In</li>
					<li>Fill In</li>
					<li>Fill In</li>
				</ul>
			</div>
		</div>
				<div class="group">
					<h3>Search for Exercise</h3>
					<div>
						<h4>Search Bar</h4>
					<ul>
						<li class="draggable">Exercise x</li>
						<li class="draggable">Exercise y</li>
						<li class="draggable">Exercise z</li>
					</ul>
					</div>
				</div>
				<div class="group">
					<h3>Rest Period</h3>
					<div>
						<ul>
							<li>Fill In</li>
							<li>Fill In</li>
							<li>Fill In</li>
						</ul>
					</div>
				</div>
			</div>
	</div>
	<div class="col-md-6" style="margin-top:15px">	


	<div id="accordion2">
		<div class="group">
			<h3>Increasing 3 - Clean and Press</h3>
			<div>
				<ul>
					<li>10 Reps 70% 1 Rep Max=70lb</li>
					<li>8 Reps 80% 1 Rep Max=80lb</li>
					<li>6 Reps 90% 1 Rep Max=90lb</li>
				</ul>
				</div>
				</div>
				<div class="group">
					<h3>Increasing 3 - Shoulder Sagitall Raise</h3>
					<div>
						<ul>
							<li>Fill In</li>
							<li>Fill In</li>
							<li>Fill In</li>
						</ul>
					</div>
				</div>
				<div class="group">
					<h3>Straight 3 - Neck Bridges</h3>
					<div>
						<ul>
							<li>Fill In</li>
							<li>Fill In</li>
							<li>Fill In</li>
						</ul>
					</div>
				</div>
				<div class="group">
					<h3>Increasing 3 - Shoulder Flies</h3>
					<div>
						<ul>
							<li>Fill In</li>
							<li>Fill In</li>
							<li>Fill In</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-3">


		</div>

	</div>

</div>

<% include footer %>

<script src = "javascripts/bootstrap.js"></script>


</body>


</html>
