<html lang="en-US">

<head>

<title><%= title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel = "stylesheet" type ="text/css" href = "../stylesheets/bootstrap/css/bootstrap.css" >

<script src="../javascripts/jquery-1.11.0.min.js"></script>

</head>


<body>

<createprofile>


		<div class="modal fade" id="createprofile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content col-md-11 col-md-offset-1"  style="background-color:#99CCCC">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><div id="your_name"></div>Create Your Profile</h4>
      </div>
      <div class="modal-body">
			<form id="createprofileform" class="form-horizontal" role="form">
        		<h5><strong>Skill Level:</strong></h5>
				<span class="input-group">
        			<input type="radio" name="skill_level" value="1"> Beginner
					<input type="radio" name="skill_level" value="2"> Intermediate
					<input type="radio" name="skill_level" value="3"> Advanced
      			</span>

				<h5><strong>Activities:</strong></h5>
				<span class="input-group">
					<table>
					<tr style="font-size:15px">
        			<td><input type="checkbox" name="activity" value="1">  Hiking  </td>
					<td><input type="checkbox" name="activity" value="2">  Cycling  </td>
					<td><input type="checkbox" name="activity" value="3">  Mountain Biking  </td>
					<td><input type="checkbox" name="activity" value="4">  Swimming  </td>
					</tr>
					<tr style="font-size:15px">
        			<td><input type="checkbox" name="activity" value="5">  Surfing  </td>
					<td><input type="checkbox" name="activity" value="6">  Downhill Skiing  </td>
					<td><input type="checkbox" name="activity" value="7">  Snowboarding  </td>
					<td><input type="checkbox" name="activity" value="8">  XC Skiing  </td>
					</tr>
					<tr style="font-size:15px">
        			<td><input type="checkbox" name="activity" value="9">  Martial Arts </td>
					<td><input type="checkbox" name="activity" value="10">  Bodybuilding </td>
					<td><input type="checkbox" name="activity" value="11">  Powerlifting  </td>
					<td><input type="checkbox" name="activity" value="12">  Olympic Lifting  </td>
					</tr>
					<tr style="font-size:15px">
        			<td><input type="checkbox" name="activity" value="13">  Yoga </td>
					<td><input type="checkbox" name="activity" value="14">  Snowshoeing </td>
					<td><input type="checkbox" name="activity" value="15">  Parkour  </td>
					<td><input type="checkbox" name="activity" value="16">  Running  </td>
					</tr>
					</table>
      			</span>

				<div style="margin-bottom: 0px" class="input-group">
					<h5><strong>Bio:</strong> (optional)</h5>
					<textarea class="form-control" id="user-bio" style="resize:none" rows="4" cols="50" value="" resize="none" name="description"></textarea> 	

					<div style="margin-bottom: 0px" class="input-group">
						<h5><strong>Profile Picture URL</strong> (optional)</h5>
						<input id="avatar_url" type="text" class="form-control" name="media" style="resize:none" maxlength="1023">     

               		</div>

                </div>  
			</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
        <a id ="create_profile" type="button" class="btn btn-primary" data-dismiss="modal" href="home">Save changes</a>
      </div>
    </div>
  </div>
</div>
<script>
    $(function(){		
		
        $('#create_profile').click(function(e){
		
            e.preventDefault();
            console.log('Create Profile Clicked');

			var data = {};

			  var activitiesArray = [];
       	   $(':checkbox:checked').each(function(i){
        	  activitiesArray[i] = parseInt($(this).val());
			  console.log($(this).val());
      	   });

			var ids = Array();

			for (var i = 0; i < activitiesArray.length; i++) {
	
				ids.push({
					id: activitiesArray[i]
				});


			}

			var val = parseInt($('input[name=skill_level]:checked').val());
	
			var check = $('input[name=skill_level]:checked').val();

			data.query = 'userUpdateProfile';
			data.user = {
			id: new_id,
			username: new_username,
			bio: $('#user-bio').val(),
			avatar_url: $('#avatar_url').val(),
			difficulty: {id: val},
 			activities: ids
			};


			$.ajax({
				type: 'POST',
				data: JSON.stringify(data),
		        contentType: 'application/json',
				 url: 'http://localhost:8080/query',						
                success: function(data) {
					$('#message').val("TEST");
                }
            });


        });				
    });
</script>
</createprofile>
