<html lang="en-US">

<head>

<title><%= title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel = "stylesheet" type ="text/css" href = "../stylesheets/bootstrap/css/bootstrap.css" >

<script src="../javascripts/jquery-1.11.0.min.js"></script>

</head>


<body>

<signup>


		<div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content col-md-7 col-md-offset-2"  style="background-color:#99CCCC">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">ComMotion Sign Up</h4>
      </div>
      <div class="modal-body">
        		 <form id="signupform" class="form-horizontal" role="form">
                          
                        	<div style="margin-bottom: 0px" class="input-group col-md-offset-2">
								<h5>User Name:</h5>
                               	<input id="signup-username" type="text" class="form-control" name="username" value="">                                       
							
                            </div>
                                
                            <div style="margin-bottom: 0px" class="input-group col-md-offset-2">
								 <h5>Password:</h5>
                                 <input id="signup-password" type="password" class="form-control" name="password">
                            </div>

							<div style="margin-bottom: 0px" class="input-group col-md-offset-2">
								 <h5>Confirm Password:</h5>
                                 <input id="signup-confirmpassword" type="password" class="form-control" name="confirmpassword">
                            </div>                            


                  </form>   
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#createprofile">Sign Up</button>
      </div>
    </div>
  </div>
</div>

</signup>
