<html lang="en-US">

<head>

<title><%= title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel = "stylesheet" type ="text/css" href = "../stylesheets/bootstrap/css/bootstrap.css" >

<script src="../javascripts/jquery-1.11.0.min.js"></script>

</head>


<body>


<div class="container">

	<div class="col-md-4 col-md-offset-4">

		<div style="margin-top:30px;padding-bottom:50px;background-color:#99CCCC" class="well">

			<div style="margin-bottom:20px"><center><h4><strong>ComMotion sign up</strong></h4></center></div>


               	<form id="signupform" class="form-horizontal" role="form">
                          
                        	<div style="margin-bottom: 0px" class="input-group col-md-offset-2">
								<h5>User Name:</h5>
                               	<input id="signup-username" type="text" class="form-control" name="username" value="">                                       
							
                            </div>
                                
                            <div style="margin-bottom: 0px" class="input-group col-md-offset-2">
								 <h5>Password:</h5>
                                 <input id="signup-password" type="password" class="form-control" name="password">
                            </div>

							<div style="margin-bottom: 0px" class="input-group col-md-offset-2">
								 <h5>Confirm Password:</h5>
                                 <input id="signup-confirmpassword" type="password" class="form-control" name="confirmpassword">
                            </div>                            

                              <div style="margin-top: 15px" class="form-group pull-right">
                                   <div class="col-sm-12 controls">
                                      <a id="btn-signup" href="createprofile" class="btn btn-success">Sign Up</a>
                                    </div>
                              </div>


                            </form>     
                </div>   

				
   
		</div>
	</div>
</div>

<script src = "../javascripts/bootstrap.js"></script>



</body>


</html>
