<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="../stylesheets/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="../stylesheets/header.css">
</head>
<style>
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom:110px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #ffffff;
}

.container .text-muted {
  margin: 20px 0;
}




</style>

<body>

<div id="footer">
    <div class="container">
        <hr>
        <p class="text-muted credit">Need help? <a href="https://github.com/r3d3y3/ComMotion/blob/master/README.md" target="_blank">Read our readme on GitHub!</a></p>
    </div>
</div>

</body>
</html>
