<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="../stylesheets/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="../stylesheets/header.css">
</head>
<body>

<footer>
<div style="margin-top:60px; background-color:white; height:40px" class="jumbotron">
</div>

</footer>

