<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="../stylesheets/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="../stylesheets/header.css">
</head>
<body>

<itemsearchpanel>

<div style="margin-top:30px" class="well">

		<div style="margin-bottom:20px"><center><h4><strong>Search for Item</strong></h4></center></div>
			<h5><strong>Type of Item:</strong></h5>
				<span class="input-group">
        			<input type="radio" name="item_type" value="exercise"> Exercise
					<input type="radio" name="item_type" value="workout"> Workout
					<input type="radio" name="item_type" value="program"> Program
      			</span>
			<h5><strong>Difficulty:</strong></h5>
				<span class="input-group">
        			<input type="radio" name="difficulty" value="beginner"> Beginner
					<input type="radio" name="difficulty" value="intermediate"> Intermediate
					<input type="radio" name="difficulty" value="advanced"> Advanced
      			</span>
			<center>
				<span>
					<div style="margin-top: 30px; margin-bottom:10px" class="input-group">
						<input id="search" type="text" class="form-control" name="query" value="">                                       
                   	</div>
				</span>	
				<a id="btn-search" href="encyclopediaresults" class="btn btn-danger">Search</a>
   
			</center>

</div>
</itemsearchpanel>

